<?xml version="1.0"?>

<model>
  <name>concrete_barrier_14m</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Roberto Zegers</name>
  </author>

  <description>
    A concrete barrier, size: 14 x 0.15 x 0.6 mt
  </description>

  <depend>
  </depend>

</model>
